.editable-picture:hover {
  opacity: 0.5;
  cursor: pointer;
}
.team-card {
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-logo {
  border: darkslategrey solid;
  border: 75px;
}

.uk-card-default .uk-card-header {
  border-bottom: 1px solid #b721ff;
}
.uk-nav-default .uk-nav-divider {
  border-top: 1px solid #b721ff;
}

.uk-navbar {
  width: 100vw;
}
.uk-section-muted {
  padding-top: 40px;
}
.our-navbar {
  list-style-type: none;
  background-color: white;
  height: 100vh;
  width: 15vw;
  position: fixed;
  top: 0;
  margin-top: 0;
  left: -15vw;
  transition: 500ms;
  z-index: 1000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  box-shadow: 2px 2px 8px 2px #888888;
}

.our-navbar-expanded {
  left: 0;
}
.our-navbar ul {
  list-style-type: none;
}
.our-navbar a {
  text-decoration: none;
  color: inherit;
}
.our-navbar>li{
  padding: 5px 40px;
}
